<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div th:replace="fragment :: risorse"></div>
    <link th:href="@{style.css}" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="custom.css"></link> -->
   
   
<body class="wall">
<div th:replace="fragment :: navbar"></div>



<div class= "container w-25 mt-5 py-5 rad text-light fontsizes vetro">
<form    id="IngredientiPizzaNuovi"
  			th:object="${ingredientenuovo}"
  			th:action="@{/ingredienti/save}"
  			method="POST" >
  			
  <div class="form-group">
    <label class="text-warning" for="formGroupExampleInput">Aggiungi ingrediente:</label>
    <input type="text" class="col-sm-5" id="name" placeholder="Scrivi ingrediente...." th:field="*{name}">
    <button type="submit" class="btn btn-primary">Salva</button>
  </div>
  
</form>
 <ul class="mt-5">
  <li th:each="c : ${ingredienti}"  th:text="${c.getName}"></li> 
</ul>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script> 
</body>
</html>